$roboto: 'Roboto', sans-serif;

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    padding: 50px;
    background: #EEEFF1;
    padding-top: 58px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu__list {
    list-style: none;
    display: flex;
    font-family: $roboto;
    font-weight: 500;
    align-items: center;
    
}
.menu__item {
    margin-right: 42px;
}
.menu__link {
    text-decoration: none;
    color: #000;
    transition: color .1s linear;
    &:hover {
        color: #34547A;
    }
}

.intro {
    padding-top: 76px;
    padding-bottom: 146px;
}

.intro__inner {
    display: flex;
    justify-content: space-between;
}

.intro__box {
    max-width: 540px;

}
.intro__title {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

.intro__text {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 55px;
    margin-bottom: 55px;
    line-height: 26px;
}

.intro__btn {
    width: 225px;
    height: 65px;
    background-color: #34547A;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.work {
    background-color: #EEEFF1;
    padding-top: 46px;
    padding-bottom: 100px;
}

.work__inner {
    text-align: center;
}

.work__title {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.work__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 57px;
    margin-right: auto;
    margin-left: auto;
    max-width: 540px;   
}

.work__img {
    max-width: 1110px;
    width: 100%;
    height: 800px;
}

.images {
    padding-top: 141px;
    padding-bottom: 116px;
    
}

.images__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images__img {
    max-width: 350px;
    width: 100%;
    height: 350px;
    margin-right: 11px;
    margin-left: 11px;
    margin-bottom: 22px;
}



.footer {
    background: #34547A;
    height: 151px;
    padding-top: 50px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__author {
    font-size: 21px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.footer__copyright {
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.footer__img {
    margin-right: 22px;
}